.text-decorator-none {
  text-decoration: none;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 0px 5px 5px #4C4B4B !important;
  -webkit-box-shadow: 5px 2px 2px 5px #4C4B4B;
  -moz-box-shadow: 20px 2px 2px 5px rgba(0,0,0,0.62);
}

.btn-lista {
  background: #BDC2C7 !important;
  color: black;
}

.btn-lista-deletar {
  color: black !important;
  background-color: #950400 !important;
}