.text-decorator-none {
  text-decoration: none;
}

.card {
  border-radius: 8px;
  box-shadow: 15px 2px 2px 5px rgba(0,0,0,0.62);
  -webkit-box-shadow: 5px 2px 2px 5px rgba(70, 69, 69, 0.62);
  -moz-box-shadow: 15px 2px 2px 5px rgba(0,0,0,0.62);
}