.cursor {
  cursor: pointer;
  color: white;
}

.text-decorator-none {
  text-decoration: none;
}

.btn-logout:hover {
  color: black;
  background: red !important;
}

.bold-navbar {
  color: white;
  font-weight: bold;
}