.cursor {
  cursor: pointer;
  color: white;
}

.cursor:hover {
  color: #E73F3F !important;
}

.text-decorator-none {
  text-decoration: none;
}

.btn-logout {
  background: #6b6a6a !important;
  padding-top: 10px !important;
}

.btn-logout:hover {
  color: #E73F3F;
  background:  #414141 !important;
}

.bold-navbar {
  color: white;
  font-weight: bold;
}

.navbar-cor {
  background: black !important;
}

.img-logo {
  width: 75px;
}