.box1 {
  background-color: #3F51B5;
  height: 120px;
  color: white;
  font-size: 100px !important;
}

.redes {
  color: white;
  font-size: 60px !important;
  margin-top: 10px;
}

.redes:hover {
  color: #BDC3C7 !important;
}

.copyright {
  background-color: #303F9F; 
  height: 60px;
  color: white;
}

.footer-color {
  background: #4C4B4B !important;
}
