.caixa {
    background-color: black;
}

.titulo {
    color: white !important;
    font-weight: bold;
}

.btn {
    background: linear-gradient(45deg, #bdc3c7 80%, black 100%) !important;
    border: 0 !important;
    border-radius: 3 !important;
    box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.3) !important;
    color: rgb(0, 0, 0) !important;
    height: 6vh !important;
    padding: 0 30px !important;
    font-weight: bold !important;
    padding-top: 4px !important;
}

.btn:hover {
    background: linear-gradient(45deg, #6b6a6a 80%, #000000 105%) !important;
    border: 0 !important;
    border-radius: 3 !important;
    box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.3) !important;
    color: rgb(0, 0, 0) !important;
    height: 6vh !important;
    padding: 0 30px !important;
}

.btn-modal {
    background: linear-gradient(45deg, #bdc3c7 80%, black 100%) !important;
    border: 0 !important;
    border-radius: 3 !important;
    box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.3) !important;
    color: rgb(0, 0, 0) !important;
    height: 6vh !important;
    padding: 0 30px !important;
    font-weight: bold !important;
    padding-top: 4px !important;
}

.btn-modal:hover {
    background: linear-gradient(45deg, #6b6a6a 80%, #000000 105%) !important;
    border: 0 !important;
    border-radius: 3 !important;
    box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.3) !important;
    color: rgb(0, 0, 0) !important;
    height: 6vh !important;
    padding: 0 30px !important;
}

.postagens {
    background-color: white;
}

