.imagem-cadastro {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49ec1464-d899-400a-b608-c48c76b500d2/d7zu9b9-ffcd1709-2866-4c2f-b4a1-836ea43a4401.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ5ZWMxNDY0LWQ4OTktNDAwYS1iNjA4LWM0OGM3NmI1MDBkMlwvZDd6dTliOS1mZmNkMTcwOS0yODY2LTRjMmYtYjRhMS04MzZlYTQzYTQ0MDEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.K4wDEwZoTctsmc-kqw-Jkuu_vfjK0iTn84iMpzHxBQ0);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.textos2 {
  font-weight: bold !important;
}

.box2 {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-cancelar {
  margin-right: 100px !important;
  background: linear-gradient(45deg, #4599a6 30%, #D7DEE2 100%) !important;
  border: 0;
  border-radius: 3;
  color: rgb(0, 0, 0);
  height: 6vh;
  padding: 0 30px;
}

.btn-cancelar:hover {
  background: linear-gradient(45deg, #a82f2f 30%, #585656 105%) !important;
  border: 0 !important;
  border-radius: 3 !important;
  color: rgb(0, 0, 0) !important;
}

.btn-cadastrar {
  margin-right: 20px !important;
  background: linear-gradient(45deg, #7a82c9 30%, #D7DEE2 100%) !important;
  border: 0;
  border-radius: 3;
  color: rgb(0, 0, 0);
  height: 6vh;
  padding: 0 30px;
}

.btn-cadastrar:hover {
  background: linear-gradient(45deg, #3F51B5 30%, #585656 105%) !important;
  border: 0 !important;
  border-radius: 3 !important;
  color: rgb(0, 0, 0) !important;
}